.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.input {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 8px;
}

.button {
  padding: 10px 20px;
  border: none;
  background: #99738e;
  color: #FFF;
  border-radius: 8px;
}

.readLink {
  font-weight: bold;
  margin: 10px 0px;
}

.readLink:hover {
  color: #f64c72;
}

.message {
  background-color: #f64c72;
  padding: 10px 20px;
  border-radius: 18px;
}
