.container {
}

.heading {
  margin-bottom: 1rem;
  font-size: 48px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  height: 100vh;
  justify-content: flex-end;
}

.signin {
  padding: 10px 25px;
  text-transform: uppercase;
  background-color: #f64c72;
  border-radius: 21px;
  color: #fff;
  display: block;
  width: fit-content;
  margin-bottom: 1.5rem;
}

.logout {
  padding: 10px 20px;
  margin: 10px 0px;
  display: block;
  background-color: #f64c72;
  border: none;
  border-radius: 21px;
  color: white;
  text-transform: uppercase;
  width: fit-content;
}

.tagline {
  width: 150px;
}

.copy {
  max-width: 50ch;
}

.input {
  padding: 10px 20px;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
}

.groupBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #99738e;
  color: #fff;
}

.groupListing {
  margin: 10px 0px;
  font-weight: bold;
}

.groupListing:hover {
  color: #f64c72;
}

.circle {
  position: fixed;
  width: 458px;
  height: 458px;
  right: -126px;
  top: -162px;
  background: #f64c72;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 640px) {
  .circle {
    position: fixed;
    width: 852px;
    height: 852px;
    right: -600px;
    top: -162px;
    background: #f64c72;
    border-radius: 50%;
    overflow: hidden;
  }

  .main {
    justify-content: center;
  }
}
