.container {
}

.centered {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
  width: 100%;
}

.signin {
  padding: 10px 20px;
  background-color: #f64c72;
  border-radius: 8px;
  color: #FFF;
  display: block;
  width: fit-content;
}

.logout {
  padding: 10px 20px;
  margin: 10px 0px;
  display: block;
  background-color: #f64c72;
  border: none;
  border-radius: 8px;
  color: white;
  width: fit-content;
}

.tagline {
  margin-top: 40px;
}

.copy {
  padding: 0 20px;
}

.input {
  padding: 10px 20px;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
}

.groupBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #99738e;
  color: #FFF;
}

.groupListing {
  margin: 10px 0px;
  font-weight: bold;
}

.groupListing:hover {
  color: #f64c72;
}
