.container {
  padding: 10px 10px;
}

.input {
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 8px;
}

.loginBtn {
  padding: 10px 20px;
  margin: 10px 0px;
  display: block;
  background-color: #f64c72;
  border: none;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
}

.centered {
  text-align: center;
}

.formContainer {
  width: min(75%, 500px);
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}
