.container {
    padding: 10px 10px;
}

.input {
    padding: 10px 20px;
    margin: 10px 0px;
}

.loginBtn {
    padding: 10px 20px;
    margin: 10px 0px;
    display: block;
    background-color: red;
    border: none;
    border-radius: 8px;
    color: white;
}

.centered {
    text-align: center;
}

.formContainer {
    width: 75%;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
}