.container {
  padding: 20px 20px;
}

.input {
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 8px;
}

.loginBtn {
  padding: 10px 20px;
  margin: 10px 0px;
  display: block;
  background-color: #f64c72;
  border: none;
  border-radius: 21px;
  color: #fff;
  width: fit-content;
  font-weight: bold;
}

.formContainer {
  width: min(75%, 500px);
}

.form {
  display: flex;
  flex-direction: column;
}
